/*Стили макета*/
.layout {
    font-family: Georgia;
    color: #572A23;
    max-width: 1440px;
	min-height: 100vh;
	margin: 0 auto;
	padding: 0;
	background-color: #FDF4E3;
}

/*Стили заголовка*/
.header{
    height: 120px;
    width: 100%;
    background-color: #F2DDC6;
    color: #572A23;
}
.title_style{
    font-size: 330%;
    font-weight: 500;
}
.logo{
    width: 110px;
}
.user{
    display: inline;
    font-size: 150%;
    font-weight: 300;
    margin: 0 10px;
}
.btn-header{
    margin: 0 10px;
    background-color: #A86540 !important;
    border: 1px double #A86540 !important;
    font-weight: 540 !important;
}
.btn-header:hover{
    background-color: #778619 !important;
    border: 1px double #778619 !important;
    box-shadow: 0 0 2px #494031;
}

/*Стили меню*/
.menu{
    background-color: #E1C6A8
}
.btn-menu{
     background-color: #A86540 !important;
     border: 1px double #A86540 !important;
     font-weight: 540 !important;
}
.btn-menu:hover{
    background-color: #778619 !important;
    border: 1px double #778619 !important;
    box-shadow: 0 0 2px #494031;
}

/*Стили содержания*/
.content{
    width: 100%;
	height: 100%;
	padding: 0 20px;
}




.registration{
    width: 500px;
    height: 250px;
    padding: 20px;
    background-color: #FDF4E3;
}
.reg{
    height: 50px;
}
.exit{
    width: 20px;
    height: 20px;
}

.dish{
    width: 23vw;
    margin: 5px;
    padding: 5px;
    background-color: #FFECDA;
    border: 1px double #A86540;
    text-decoration: none;
}
.t1{
    text-decoration: none;
}

.new_dish{
    width: 25vw;
    margin: 0 auto;
}

.image{
    width: 130px;
}
.foto{
    width: 50vw;
}

.el{
    margin: 20px 0;
}





