{% extends "base.html" %}
{% load static %}

{% block content %}
    <div>
        <form action="new_dish" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="new_dish">
                <div class="row">
                    <div class="col-4">
                        <p>Название блюда:</p>
                    </div>
                    <div class="col-8">
                        <textarea rows="1" cols="45" name="title"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <p>Описание блюда:</p>
                    </div>
                    <div class="col-8">
                        <textarea rows="3" cols="45" name="description"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <p>Ингредиенты:</p>
                    </div>
                    <div class="col-8">
                        <textarea rows="3" cols="45" name="products"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <p>Рецепт:</p>
                    </div>
                    <div class="col-8">
                        <textarea rows="3" cols="45" name="recipe"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <p>Добавить картинку:</p>
                    </div>
                    <div class="col-8">
                        <input type="file" name="image" id="image" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <p>Добавить картинку:</p>
                    </div>
                    <div class="col-8">
                        <select name="select" id="select">
                            {% for category in categories %}
                                <option value={{category.id}}>{{category.title}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row">
                    <input type="submit" value="Записать блюда" />
                </div>
            </div>
        </form>
    </div>
{% endblock %}