{% extends "base.html" %}
{% load static %}

{% block title %}
    Выпечка
{% endblock %}

{% block content %}
    <div>
        <h3>
            Выпечка
        </h3>
    </div>
    <div>
        В этом разделе собрана настоящая библиотека рецептов изделий из теста. Здесь вы найдете блюда для
        любого случая жизни: воскресного завтрака, самого обычного ужина, чаепития с семьей или праздника.
        Приготовление изделий из слоеного, дрожжевого, песочного или творожного теста — не столь трудоемкий
        процесс, каким он может показаться на первый взгляд. Главное — видеть результат: тесто, хрустящее
        снаружи и мягкое внутри, сочная мясная, рыбная, овощная или сладкая начинка. В раздел объединены как
        простые блюда на каждый день, так и замысловатые, подходящие для особенных случаев.
    </div>
    {% for dish in dishes %}
        <div>
            {{dish.title}}
            <img width="30px" src="static/images/{{dish.image}}">
            {{dish.description}}
        </div>
    {% endfor %}
{% endblock %}
