{% extends "base.html" %}
{% load static %}

{% block title %}
    Выпечка
{% endblock %}

{% block content %}
    <div>
        <h3>
            Выпечка
        </h3>
    </div>
    <div>
        В этом разделе собрана настоящая библиотека рецептов изделий из теста. Здесь вы найдете блюда для
        любого случая жизни: воскресного завтрака, самого обычного ужина, чаепития с семьей или праздника.
        Приготовление изделий из слоеного, дрожжевого, песочного или творожного теста — не столь трудоемкий
        процесс, каким он может показаться на первый взгляд. Главное — видеть результат: тесто, хрустящее
        снаружи и мягкое внутри, сочная мясная, рыбная, овощная или сладкая начинка. В раздел объединены как
        простые блюда на каждый день, так и замысловатые, подходящие для особенных случаев.
    </div>
    <div>
        <div>
            <h4>Список блюд:</h4>
        </div>
        <div class="d-flex flex-wrap">
            {% for dish in dishes %}
                <div class="dish">
                    <a href="/dish_info/{{dish.id}}" class="text-decoration-none text-reset">
                        <div>
                            <h4>
                                {{dish.title}}
                            </h4>
                            <img class="image" src={% static dish.image %}>
                            <p>
                                {{dish.description}}
                            </p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}
