{% extends "base.html" %}
{% load static %}

{% block title %}
    Напитки
{% endblock %}

{% block content %}
    <div>
        <h3>
            Напитки
        </h3>
        <p>
            Напитки - одна из самых обширных кулинарных категорий. Большое количество рецептов обусловлено как
            разнообразием ингредиентов, из которых можно приготовить напитки дома, так и совершенно различным
            назначением напитков: горячие и холодные, а еще тонизирующие, прохладительные, витаминные - все они призваны
            не только утолять жажду, но и улучшать настроение, самочувствие и даже здоровье. Так, летом наиболее
            популярны прохладительные напитки, такие как лимонады, соки, смузи и коктейли. В холодное время года
            открывается сезон горячих алкогольных и безалкогольных напитков: имбирный или травяной чай, кофе,
            традиционный глинтвейн станет идеальным дополнением к уютному домашнему вечеру с гостями и домочадцами.
            По окончанию сбора урожая актуально делать закатки на зиму: яблочные и вишневые компоты, томатные, тыквенные
            и морковные соки - все это настоящая кладезь витаминов на зимний период.
        </p>
    </div>
    <div>
        <div class="el">
            <h4>Список блюд:</h4>
        </div>
        <div class="d-flex flex-wrap">
            {% for dish in dishes %}
                <div class="dish">
                    <a href="/dish_info/{{dish.id}}" class="text-decoration-none text-reset">
                        <div>
                            <h4>
                                {{dish.title}}
                            </h4>
                            <img class="image" src={% static dish.image %}>
                            <p>
                                {{dish.description}}
                            </p>
                            <p>
                                Автор: {{dish.user}}
                            </p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>

    </div>

{% endblock %}


