{% extends "base.html" %}

{% load static %}
{% block title %}
    Блюдо
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>{{dish.title}}</h2>
        </div>
        <div class="col-md-3 ms-auto">
            {% if dish.user == user %}
                <div>
                    <a class="btn btn-primary btn-menu" role="button" href="/edit_dish/{{dish.id}}">Редактировать</a>
                    <a class="btn btn-primary btn-menu" role="button" href="/delete_dish/{{dish.id}}">Удалить</a>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div>
            <img class="foto" src={% static dish.image %}>
        </div>
    </div>
    <div class="row el">
        <h4>Описание блюда:</h4>
        <div>{{dish.description}}</div>
    </div>
    <div class="row el">
        <h4>Ингредиенты:</h4>
        <div>{{dish.products}}</div>
    </div>
    <div class="row">
        <h4>Рецепт:</h4>
        <div>{{dish.recipe}}</div>
    </div>
</div>








{% endblock %}