{% extends "base.html" %}
{% load static %}

{% block title %}
    Первые блюда
{% endblock %}

{% block content %}
    <div>
        <h3>
            Первые блюда
        </h3>
        <p>
            Первые блюда — обязательная составляющая рациона человека. В это знакомое всем понятие входят борщи,
            солянки, рассольники и другие разновидности горячих или холодных супов. Обычно выбор того или иного
            первого блюда зависит от сезона или, конечно, личных предпочтений. Они могут быть мясными и
            вегетарианскими, насыщенными и легкими, пюреобразными, кремовыми и так далее. Пожалуй, нет такого
            продукта, который хоть раз не отправлялся в суп. В его состав могут входить и макаронные изделия,
            и овощи, и мясо, и яйца, и зелень. В некоторых странах принято использовать кисломолочные продукты
            и даже сухофрукты. Суп помогает вывести из желудка лишний желудочный сок, способствует пищеварению,
            восстанавливает баланс жидкости, а в холодное время еще и отлично насыщает. Мы наедаемся, но при этом
            потребляем минимальное количество калорий.
        </p>
    </div>
    <div>
        <div class="el">
            <h4>Список блюд:</h4>
        </div>
        <div class="d-flex flex-wrap">
            {% for dish in dishes %}
                <div class="dish">
                    <a href="/dish_info/{{dish.id}}" class="text-decoration-none text-reset">
                        <div>
                            <h4>
                                {{dish.title}}
                            </h4>
                            <img class="image" src={% static dish.image %}>
                            <p>
                                {{dish.description}}
                            </p>
                            <p>
                                Автор: {{dish.user}}
                            </p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>

    </div>

{% endblock %}


