{% extends "base.html" %}
{% load static %}
{% block title %}
    Главная страница
{% endblock %}
{% block content %}
    <div>
        Добро пожаловать в мир простой, обыденной и в тоже время необычной, но всегда вкусной кулинарии!<br />
        Сайт Кулинарная книга – настоящая галерея самых разнообразных возможностей, как для начинающих кулинаров, так и для
        самых привередливых критиков и гурманов.<br />
        Наш сборник рецептов богат, разнообразен и удивляет нестандартным
        отношением к тому или иному продукту.<br />
        Кулинарная книга станет для Вас хорошим подспорьем. Готовьте с нами и радуйте себя вкусной едой,
        семейным уютом и отличным настроением.<br />
        Но Кулинарная книга - это не только сайт, где Вы найдете вкусный рецепт! Зарегистрировавшись на сайте, Вы можете делиться своими любимыми рецептами с другими читателями нашей Кулинарной книги!
    </div>
    <div class="el">
        <h3>Наши новости</h3>
        <div class="el">
            <h4>Объявляется подготовка к новому году!</h4>
            <img class="foto" src="{% static 'images/60003a1456b01.jpg' %}">
        </div>
    </div>

{% endblock %}

