{% extends "base.html" %}
{% load static %}
{% block title %}
    Главная страница
{% endblock %}
{% block content %}
    <div>
        Добро пожаловать в мир простой, обыденной и в тоже время необычной, но всегда вкусной кулинарии!<br />
        Сайт Кулинарная книга – настоящая галерея самых разнообразных возможностей, как для начинающих куленаров, так и
        самых привередливых критиков и гурманов. Наш сборник рецептов богат, разнообразен и удивляет нестандартным
        отношением к тому или иному продукту.<br />
        Кулинарная книга станет для вас хорошим подспорьем. Готовьте с нами и радуйте себя вкусной едой,
        семейным уютом и отличным настроением.
    </div>
    <div>
        <h3>Наши новости</h3>
        <h4>Объявляется подготовка к новому году!</h4>
        <img class="foto" src="{% static 'images/60003a1456b01.jpg' %}">
    </div>

{% endblock %}

