{% extends "base.html" %}
{% load static %}

{% block title %}
    Вторые блюда
{% endblock %}

{% block content %}
    <div>
        <h3>
            Вторые блюда
        </h3>
    </div>
    <div>
        Из названия понятно, что эти блюда считаются логичным продолжением обеда или ужина. Как правило, это
        мясная или рыбная составляющая, гарнированная самыми разными способами. Сочный стейк из говядины со
        стручковой фасолью, ароматные котлеты с картофельным пюре и зеленым горошком, тефтели с овощным
        рагу — вариантов бесчисленное множество. Они могут быть сделаны на скорую руку, а иногда становятся
        произведениями кулинарного искусства со сложными соусами и множеством ингредиентов. Как правило, такие
        блюда подают на плоской широкой тарелке, сервируют ножами и вилками. Иногда соус к блюду подается
        отдельно, чтобы каждый гость мог сам определить нужное для себя количество.
    </div>
    {% for dish in dishes %}
        <div>
            {{dish.title}}
            <img width="30px" src="static/images/{{dish.image}}">
            {{dish.description}}
        </div>
    {% endfor %}
{% endblock %}
