{% extends "base.html" %}
{% load static %}

{% block title %}
    Вторые блюда
{% endblock %}

{% block content %}
    <div>
        <h3>
            Вторые блюда
        </h3>
    </div>
    <div class="temp">
        Из названия понятно, что эти блюда считаются логичным продолжением обеда или ужина. Как правило, это
        мясная или рыбная составляющая, гарнированная самыми разными способами. Сочный стейк из говядины со
        стручковой фасолью, ароматные котлеты с картофельным пюре и зеленым горошком, тефтели с овощным
        рагу — вариантов бесчисленное множество. Они могут быть сделаны на скорую руку, а иногда становятся
        произведениями кулинарного искусства со сложными соусами и множеством ингредиентов. Как правило, такие
        блюда подают на плоской широкой тарелке, сервируют ножами и вилками. Иногда соус к блюду подается
        отдельно, чтобы каждый гость мог сам определить нужное для себя количество.
    </div>
    <div>
        <div class="el">
            <h4>Список блюд:</h4>
        </div>
        <div class="d-flex flex-wrap">
            {% for dish in dishes %}
                <div class="dish">
                    <a href="dish_info/{{dish.id}}" class="text-decoration-none text-reset">
                        <div>
                            <h4>
                                {{dish.title}}
                            </h4>
                            <img class="image" src={% static dish.image %}>
                            <p>
                                {{dish.description}}
                            </p>
                            <p>
                                Автор: {{dish.user}}
                            </p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}
