{% extends "base.html" %}
{% load static %}

{% block title %}
    Салаты
{% endblock %}

{% block content %}
    <div>
        <h3>
            Салаты
        </h3>
        <p>
            Ищите рецепт простого салата на ужин? Или интересного салата на День Рождения? А может быть, находитесь в
            поиске салата на зиму из огурцов, баклажанов, перцев и кабачков?  Какая бы цель сейчас перед вами не стояла,
            вы смотрите на правильную страницу. Здесь собраны рецепты для любого повода и кошелька. Это по-настоящему
            универсальное блюдо. В зависимости от ингредиентов, им можно просто перекусить или же насытиться до конца
            дня. Какой бы из этих вариантов не относился к вам, вы сможете найти удивительные сочетания, открытые нашими
            кулинарами.
        </p>
    </div>
    <div>
        <div>
            <h4>Список блюд:</h4>
        </div>
        <div class="d-flex flex-wrap">
            {% for dish in dishes %}
                <div class="dish">
                    <a href="/dish_info/{{dish.id}}" class="text-decoration-none text-reset">
                        <div>
                            <h4>
                                {{dish.title}}
                            </h4>
                            <img class="image" src={% static dish.image %}>
                            <p>
                                {{dish.description}}
                            </p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>

    </div>

{% endblock %}


